.refresh-btn{
  margin: 20px;
  text-decoration: none;
  color: #000;
}
.refresh-btn:hover{
  cursor: pointer;
}
.txt-supercontainer{
  display: flex;
  justify-content: center;
}
.text-contain{
  border-left: 6px solid #f3e309;
  padding-left: 10px;
}
.auther-contain{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin: 20px;
  padding: 10px;
}
.auther-contain:hover{
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.author-h{
  text-align: center;
  margin: 25px;
}
.h90{
  height: 90%;
}
.h10{
  height: 10%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .author-h{
    width: 250px;
  } */
  .text-contain, .auther-contain{
    margin-top: 40px;
    width: 270px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (min-width: 600px) {
  /* .author-h{
    width: 250px;
  } */
  .text-contain, .auther-contain{
    margin-top: 50px;
    width: 400px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
  .text-contain, .auther-contain{
    margin-top: 60px;
    width: 600px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}  
